@font-face {
  font-family: 'Silver-Age';
  src: url('../fonts//Silver-Age.ttf');
}


/*


Description: HTML5 / CSS3 Multi Page
Version: 1.0
Develop by: Mizrael
*/

/*------------------------------------------------------------------
[Layout]

* body
  + wrapper / #wrapper
    + offcanvas-pusher /
      + content-wrapper /
        + container /
          - header
            -header-wrapper
              -header-top
              -main-nav-bar
        + container-fluid
          -banner-section
            -carousel / slide
              -carousel-indicators
              -carousel-inner
        + container /
          -welcome-section
        + container /  
          -service-section
            -tablist
            -tab-content
        + container /
          -service-activity
            -activity-head
            -activity-list-items
              -activity-list
        + quote-section /
          - container 
          - quote
        + container / 
          -our-clients-carousel
            -our-client-thumb
              -item
        + container /
          -footer-top
          -footer

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]


# Background   : #ffffff
# Content      : #888888
# Header h1    : #888888
# Header h2    : #888888
# Footer       : #888888

# a (standard) : #ffffff
# a (visited)  : #fdc312
# a (active)   : #fdc312
-------------------------------------------------------------------*/

/* ==========================================================================
     Base styles: opinionated defaults
========================================================================== */

html {
  font-size: 14px;
  line-height: 1.5em;
}
*:not(td)::first-letter{
  font-family: Silver-Age;
}

/*
   * Remove text-shadow in selection highlight: h5bp.com/i
   * These selection rule sets have to be separate.
   * Customize the background color to match your design.
   */
 
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
   * Remove the gap between images, videos, audio and canvas and the bottom of
   * their containers: h5bp.com/i/440
*/

audio,
canvas,
img,
video {
  vertical-align: middle;
}

/*
   * Remove default fieldset styles.
   */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
   * Allow only vertical resizing of textareas.
   */

textarea {
  resize: vertical;
  width: 100%;
  border: 1px solid #e8e8e8;
  padding: 1em 1.5em;
}

p,
ul,
ol,
pre,
le,
blockquote {
  margin-top: 1rem;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

hr {
  border: 1px solid;
  margin: -1px 0;
}

a,
a:active,
a:focus,
a:active {
  text-decoration: none !important;
  outline: none;
}

a {
  color: #fdc312;
  text-decoration: none;
  transition: all 0.2s ease 0s;
}

a:hover,
a:focus {
  color: #fdc312;
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Raleway", sans-serif;
  color: #888888;
  margin: 0;
}


h1 {
  font-weight: 600;
  font-style: inherit;
  font-size: 2.571rem;
  line-height: 1.111em;
}

h2 {
  font-weight: 600;
  font-style: inherit;
  font-size: 2.143rem;
  line-height: 0.7em;
}

h3 {
  font-weight: 600;
  font-style: inherit;
  font-size: 1.714rem;
  line-height: 1.875rem;
  margin: 0rem;
}

h4 {
  font-weight: 600;
  font-style: inherit;
  font-size: 1.286rem;
  line-height: 1.875rem;
  margin: 0rem;
}

.btn {
  background: #fdc312;
  color: #ffffff;
  text-transform: uppercase;
  padding: 4px 18px;
  margin-top: 20px;
  border-radius: 0;
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn:hover,
.btn-default:hover {
  background: #3c4461;
  color: #ffffff;
  border-color: #3c4461 !important;
}

.btn-default.focus,
.btn-default:focus {
  color: #ffffff;
  background-color: #3c4461;
  border-color: #3c4461 !important;
}

body {
  font-family: 'Balsamiq Sans', cursive;
  color: #5c5959;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.857em;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  
}
body._lock {
  overflow: hidden;
}

.wrapper {
  background: #feffff;
  

}

/*----------------------------
 Header section
-----------------------------*/


.header {
  
 
  background-color: inherit;
  

 
}


.header-top {
  background: #ffffff;
  padding: 0 0 22px 0;
  
}

.logo img {
  width: 100px;
}

.header-connection {
  text-align: right;
  line-height: 1.5em;
  padding-top: 30px;
}

.header-connection a strong {
  padding-left: 1em;
}

.header-connection strong {
  color: #55595d;
}

.header-connection a:hover {
  transform: scale(1.2);
}

.social li {
  display: inline-flex;
  padding: 10px 6px;
}
.social li a:hover {
  transform: scale(1.2);
}

.social li:last-child {
  padding-right: 0;
}

.social a {
  color: #a4a4a4;
  font-size: 0.8rem;
}

.header-top p {
  margin: 0;
}








@media (max-width: 767px) {
  .logo {
    margin-bottom: 15px;
  }

  .header-wrapper {
    padding: 0;
  }
  

  .header-connection {
    display: flex;
    justify-content: space-around;
    text-align: left;
  }
}
@media (max-width: 608px) {
  .header-connection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}







.header__menu-container { 
  
  display: flex;
  justify-content: flex-start;
}

.menu__list > li {
  position: relative;
  margin: 0px 0px 0px 30px;
  
}
.menu__link {
  color:black;
  font-size: 1.3rem;
  
}
.menu__link::first-letter {
  font-family: Silver-Age;
  font-size: 20px;
}
.menu__link:hover {
  color:rgb(41, 236, 220);
 
  
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color:#FEFFFF;
  padding: 30px;
  min-width: max-content;
  z-index: 100;
}
.menu__sub-list li::first-letter {
  font-family: Silver-Age;
  font-size: 20px;
}
.menu__sub-list li {
 
  font-size: 1.2em;
  padding-top: 5px;
}
.menu__sub-link:hover {
  color:rgb(41, 236, 220) ;
}
.menu__sub-link li {
  margin: 0px 0px 10px 0px;
}
.menu__sub-link li:last-child {
  margin: 0px;
}
.menu__sub-link {
  color: black;
}
.menu__arrow {
  display: none;
}

/*----------------------------*/

body._pc .menu__list > li:hover .menu__sub-list{
  opacity: 1;
  visibility: visible;
  transform:translate(0px, 0px);
  pointer-events: all;

}
body._pc .menu__link::before {
  content: '';
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  opacity: 0;
  transform: translateX(-50%);
  visibility: hidden;
  transition: all .6s ease;
  border-top: 1px solid rgb(41, 236, 220) ;
  
}
body._pc .menu__link:hover::before {
  
  transform: translateX(0);
  visibility:visible;
  opacity: 1;
  
  
}
body._pc .menu__list > li {
  display: flex;
  align-items: center;
}

body._touch .menu__link{
  flex: 1 1 auto;
}
body._touch .menu__arrow-container {
  display: inline-block;
  width: 30px;
  height: 20px;
  
}
body._touch .menu__arrow-container .menu__arrow {
  display: inline-block;
  margin-left: 5px;
  width: 15px;
  height: 12px;
  background-color: rgb(27, 240, 56);
  clip-path: polygon(51% 31%, 0 100%, 100% 100%);
  transition: transform .5s ease 0s;


}
body._touch .menu__list > li._active .menu__sub-list{
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 10px);
  pointer-events: all;
  


}
body._touch .menu__list > li._active .menu__arrow{
  transform: rotateZ(180deg) scale(1.3)   perspective(300px)
}

/*-----------------------------*/

.menu__icon-container {
  display: none;
}

@media (min-width: 769px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
  .menu__list > li {
    padding: 20px 0;
  }
  .menu__sub-list {
    transform: translate(0, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.5s ease 0s;
  }
}


@media (max-width: 768px) {
 
  .menu__icon-container {
    display: block;
    top: 0;
    right: 0;
    position: fixed;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 350;
    margin: 20px;
  }
  

  .menu__icon {
    width: 100%;
    height: 100%;
    background-color: wheat;
    clip-path: polygon(100% 100%, 0 100%, 0 78%, 100% 78%, 100% 61%, 0 61%, 0 39%, 100% 39%, 100% 23%, 0% 23%, 0 0, 100% 0);
    transition: clip-path .5s ease;
  }
  .menu__icon._active {
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  }
 
  .menu__body {
    position: fixed;
    top: 0;
    left:-100%;
    width: 100%;
    height: 100%;
    background-color: rgb(233, 233, 219);
    padding: 100px 30px 30px 30px;
    transition: left .3s ease 0s;
    overflow: auto;
    z-index: 300;
  }
  .menu__body._active {
    left: 0;
  }
  

  
  .menu__list > li {
    flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }

  .menu__list > li:last-child {
    margin: 0px;
  }

  .menu__list > li._active .menu__sub-list {
    display: block;
  }
  

  .menu__link {
    font-size: 24px;
  }

  .menu__sub-list {
    position: relative;
    background-color: inherit;
    flex: 1 1 100%;
    display: none;
    min-width: min-content;
  }
  
  .menu__sub-link {
    font-size: 20px;
    color: black;
  }
  
}

.banner-section {
  position: relative;
  background: url('../img/главная.webp') 0 0/100% 100% no-repeat fixed;
  height: max(600px, min(500px));
  margin-bottom: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.item {
  margin-left: 50px;
}



.caption h1 {
  color: #ffffff;
  line-height: 1.2;
  text-transform: uppercase;
}

.caption p {
  color: #ffffff;
}






/*---------------------------
Breadcrumb
-------------------------*/
.breadcrumb-area {
  overflow: hidden;
  background: #ffffff;
}

.breadcrumb {
  background: #ffffff;
  padding: 15px 0 0 15px;
  margin-bottom: 1.1em;
}

.breadcrumb a {
  color: #999999;
  font-weight: 400;
}
.breadcrumb a:hover {
  color: #27d6d6;
}

.breadcrumb .active {
  color: #000000;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  font-size: 20px;
  color: #fdf9f9;
  content: "\27AD";
  font-family: Silver-Age;
}




/*modal window*/

#popup.open {
  opacity: 1;
  visibility: visible;
}
#popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

#popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgb(254, 255, 255);
  background: -moz-linear-gradient(top, rgba(254, 255, 255, 1) 35%, rgba(210, 235, 249, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(254, 255, 255, 1) 35%, rgba(210, 235, 249, 1) 100%);
  background: linear-gradient(to bottom, rgba(254, 255, 255, 1) 35%, rgba(210, 235, 249, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 );
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 9999999999;
  transition: all 0.4s ease 0s;
}

.popup__body {
  
  position: absolute;
  max-width: 45%;
  min-width: 300px;
  border: 1px solid #cecece;
  padding: 35px;
  background: rgb(254, 255, 255);
  background: -moz-linear-gradient(top, rgba(254, 255, 255, 1) 35%, rgba(210, 235, 249, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(254, 255, 255, 1) 35%, rgba(210, 235, 249, 1) 100%);
  background: linear-gradient(to bottom, rgba(254, 255, 255, 1) 35%, rgba(210, 235, 249, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 );
}
.popup__content {
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(50deg);
  transition: all 0.6s ease 0s;
  
}

a.close__popup {
  color: #000000;
  font-size: 1rem;
  position: absolute;
  right: 10px;
  top: 4px;
  border: none;
}


/*  contact-form    */

form * {
  outline: none;

}

.form__body {
  position: relative;
 
}

.form__body::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 90%;
  background: url("../img/utilities/loading.gif") 0 0 / 50px no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}
.form__body._sending::after {
  opacity: 1;
  visibility: visible;
}

h1.form__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000000;
}
.form__item label {
  font-size: 1rem;
  margin: 0 0 3px 0;
  color: #000000;
}
.form__item > p {
  margin-top: -1em;
}

.form__input {
  width: 100%;
  line-height: 2.6em;
  padding: 0 1em;
  margin-bottom: 1em;
  border: 1px solid #cac6c6;
  border-radius: 10px;
}

.form__input:focus {
  box-shadow: 0 0 15px #8780e4;
}
.form__input._error {
  box-shadow: 0 0 15px red;
}


textarea.form__input {
  min-height: 100px;
  resize: vertical;
}

.btn[type="submit"] {
  background-color: #4a63ec;
  color: #fcfafa;
  margin-top: 1em;
  line-height: 1em;
  padding: 8px 30px;
  text-transform: uppercase;
  border: 1px solid #c3c5c9;
}

.file__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}
.file__item {
  position: relative;
}
.file__button {
  display: inline-flex;
  width: 30%;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  background-color: #f1cb4d;
  padding: 0px 20px;
  color: #000000;
}
.file__preview {
  display: inline-block;
  max-width: 100px;
}
.file__preview img {
  max-width: 100%;
}

.checkbox__input {
  display: none;
}
.checkbox._error .checkbox__label::before {
  box-shadow: 0 0 15px red;
}
.checkbox__input:checked + .checkbox__label::after {
  transform: scale(1);
}
.checkbox__label {
  position: relative;
  display: flex;
  font-size: 16px;
  cursor: pointer;
}
.checkbox__label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 24px;
  height: 24px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #32fd6f;
  margin: 0px 10px 0px 0px;
}
.checkbox__label::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #27272c;
  border-radius: 4px;
  transform: scale(0);
  transition: all 0.5s ease 0s;
}

@media (max-width: 767px) {
  #formName,
  #formEmail {
    width: 100%;
    margin: 0 0 2.2em 0;
  }

  .contact-us .get-in-Touch h4 {
    margin-top: 2.2em;
  }

  .office-location {
    margin: 3em 0 0;
  }

  .head-office {
    border-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  #formName,
  #formEmail {
    width: 100%;
    margin: 0 0 2.2em 0;
  }
}
/* contact pages form */




/*--------------------------------------------
  Welcome section style
--------------------------------------------*/
.welcome-section {
  padding: 5em 0;
  overflow: hidden;
}

.welcome-thumb {
  float: left;
  width: 36%;
  padding-right: 50px;
}

.welcome-content {
  float: left;
  width: 64%;
}

@media (max-width: 767px) {
  .welcome-section {
    display: none;
  }
}

/*--------------------------------------------
  Service section style 
--------------------------------------------*/

/*}*/
@media (min-width: 768px) and (max-width: 1024px) {
  .welcome-section {
    display: none;
  }
  
}


/*------------------------------------------------------
  Service activity style
---------------------------------------------------*/
.service-activity {
  padding: 5em 0;
}

.activity-head {
  padding: 0 20em;
  text-align: center;
}

.activity-head h2 {
  line-height: 1.5em;
  font-weight: 400;
  color: #888888;
}

.activity-head h2 span {
  color: #fdc312;
  text-transform: uppercase;
}

.activity-list-items {
  padding: 5em 0;
  overflow: hidden;
}

.activity-list {
  overflow: hidden;
}

.activity-icon {
  float: left;
  width: 17%;
  padding-right: 1.5em;
  text-align: center;
}

.activity-icon i {
  
  background: #fdc312;
  padding: 0.52em;
  font-size: 1.5rem;
  color: #ffffff;
}

.activity-details {
  float: right;
  width: 83%;
}

.activity-details h4 {
  color: #333333;
  font-size: 1rem;
}

@media (max-width: 767px) {
  .service-activity {
    padding: 0;
  }

  .activity-head {
    padding: 0;
  }

  .activity-head h2 {
    font-size: 1.5em;
  }

  .activity-list {
    margin-bottom: 2em;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .activity-head {
    padding: 0 6em;
  }

  .activity-icon {
    width: 20%;
  }

  .activity-details {
    width: 80%;
  }
}

/*------------------------------------------------
  Section-quote style
---------------------------------------------*/

.quote-section {
  background: url(../img/консультация_главная.webp) 50% 50% / cover no-repeat fixed;
  min-height: 400px;
  opacity: 0.5;
}

.quote {
  padding: 7em 20em;
  text-align: center;
}
.quote a {
  color: #000000;
  background-color: #dcf0fb;
}

.quote h2 {
  color: #030303;
  line-height: 2em;
}

.quote p {
  color: #0a0909;
}

.quote a {
  font-size: 1.2rem;
  line-height: 2.5em;
  padding: 4px 2.5em;
}

@media (max-width: 767px) {
  .quote-section {
    background: none;
  }
  .quote {
    background: url(../img/консультация_главная.webp) 50% 50% / cover fixed;

    padding: 5em 0em;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .quote {
    padding: 5em 10em;
  }
}


/*------------------------------------------------
 catalog-items table
-------------------------------------------------*/

.title-about {
  margin-top: 30px;
  padding: 0 20px;
}
.title-about__main {
  text-align: center;
}
.title-about__main hr {
  margin: 20px 0;
}
.title-about__main p{
  padding: 0 15px;
}
.title-about__main h2{
  color: #5f5b5b;
}
.title__catalog {
  text-align: center;
  padding: 0 5px;
}
.title__catalog h2{
  line-height: 1.2em;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  
}
.catalog-items__catalog {
  margin: 50px 10px;

  
 
}
.catalog-items {
  margin-bottom: 5rem;
  margin-top: 3rem;
}
.img__catalog {
  position: relative;
  padding: 0.9rem;
  
}
.img-thumb__catalog {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 65px;
  height: 65px;
  box-shadow: 1px 1px 3px #666;
  border-radius: 4px;
  margin-left: 20px;
  margin-bottom: 10px;
  
}
.img-thumb__catalog  a img {
  border-top-right-radius: 0px;
}
.img-thumb__catalog img:hover {
  transition-duration: 0.6s;
  transform: scale(1.1);
  
}
.img__catalog img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  transition-duration: 0.6s;
  transform: scale(1.02);
  border-top-right-radius: 20px;
  
}
.img__catalog img:hover {
  transform: scale(1);
  
}
table {
  border-collapse: separate;
  border-spacing: 3px 3px;
}

.table {
  font-size: 12px;
}
.table th {
  text-align: center;
  background: rgb(207, 231, 250);
  background: -moz-linear-gradient(left, rgba(207, 231, 250, 1) 0%, rgba(99, 147, 193, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(207, 231, 250, 1) 0%, rgba(99, 147, 193, 1) 100%);
  background: linear-gradient(to right, rgba(207, 231, 250, 1) 0%, rgba(99, 147, 193, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=1 );

  border-radius: 10px;
  color: white;
  border-spacing: 3px;
}
.table td {
  height: 32px;
  text-align: center;
  border-radius: 10px;
  
  
}


.table td img {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}
.table td img.rub {
  width: 20px;
  height: 20px;
}
.faq {
  background: url("/catalog/img/utilities/faq.svg") 0 0/100% 100% no-repeat;
  width: 100%;
  height: 100%;
  transform: scale(1.4);
  transition: all .6s ease;
}
.faq:hover {
  transform: scale(1.2);
}

.table td i {
  margin-right: 2px;
  font-size: 18px;
  font-weight: normal;
}
.table td i .material{
  margin-right: 0;
  width: 32px;
  height: 16px;
}
.table td i .material_small{
  margin-right: 2px;
  width: 16px;
  height: 15px;
}

.table td {
  color: #354f60;
  font-weight: bold;
}
.table tr:nth-child(odd) {
  background: rgb(238, 238, 238);
  background: -moz-linear-gradient(left, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%);
  background: linear-gradient(to right, rgba(238, 238, 238, 1) 0%, rgba(204, 204, 204, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 );
}
.table tr:nth-child(even) {
  background: rgb(252, 255, 244);
  background: -moz-linear-gradient(left, rgba(252, 255, 244, 1) 0%, rgba(233, 233, 206, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(252, 255, 244, 1) 0%, rgba(233, 233, 206, 1) 100%);
  background: linear-gradient(to right, rgba(252, 255, 244, 1) 0%, rgba(233, 233, 206, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=1 );
  
}


.table td:nth-child(1) span {
  color: #0c0d0e;
}
/* style for button  watch table tr(javaScript create) */
.add {
  cursor: pointer;
  margin-top: -20px;
  color: #000000;
  width: 100%;
  text-align: center;
  background: rgb(207, 231, 250);
  background: -moz-linear-gradient(left, rgba(207, 231, 250, 1) 0%, rgba(99, 147, 193, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(207, 231, 250, 1) 0%, rgba(99, 147, 193, 1) 100%);
  background: linear-gradient(to right, rgba(207, 231, 250, 1) 0%, rgba(99, 147, 193, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=1 );
  border-bottom-left-radius: 30px;
}

.hidden-table {
  display: none;
  opacity: 0;
}
.visible-block {
  opacity: 1;
  animation: open 1.5s forwards;
}

@keyframes open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .table td {
    
   font-size: calc(4.4px + 6 * (100vw / 1280)) 
    
  }
}
@media  (max-width: 768px) {
  .table td {
    
   font-size: calc(7.4px + 6 * (100vw / 1280)) 
    
  }
}

/*------------------------------------------------
 tab-catalog
-------------------------------------------------*/

.tab-catalog._fixed{
 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(252, 252, 252);
  z-index: 200;
  animation: fixedTabs 1.3s ease forwards;
 }

.tab-catalog._fixed .tab-catalog__body{
  margin: 0;
  padding: 0;
}


.tab-catalog__body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  flex: 1 1 86px;
  flex-wrap: wrap;
  align-content: center;
  
  
}

.tab-catalog__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  
}
.tab-catalog__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  
}
.tab-catalog__img {
  width: 100%;
  text-align: center;
  
}
.tab-catalog__img img {
  width: calc(46.4px + 24 * (100vw / 1280));
}
.tab-catalog__title {
  font-size: calc(4.4px + 6 * (100vw / 1280));
  text-align: center;
  font-weight: 600;
  color: #030303;
}
  

@keyframes fixedTabs {
  0%{
    opacity: 0;
    transform: translateY(-20px);
  }
  100%{
    opacity: .95;
    transform: translateY(0);
  }
}




/*  tab-catalog-end   */


/*------------------------------------------------
 footer-top style
-----------------------------------------------*/
.wrapper-footer {
  display: flex;
  flex-flow: wrap;
}

.footer-top {
  overflow: hidden;
  margin-top: 2.5em;
}
.footer-top h4 {
  color: #888;
  margin-bottom: 1.5em;
  text-align: center;
}
.footer-top p,
address {
  font-size: 0.9rem;
}

.footer-top h4 {
  color: #888;
  margin-bottom: 1.5em;
}

/*------------------------------------------------
 footer style
-----------------------------------------------*/
.footer {
  padding-bottom: 5em;
  overflow: hidden;
}

.footer-social {
  text-align: right;
  line-height: 3.5em;
}
.contact-us address {
  display: block;
}
.messenger__items {
  display: flex;
  justify-content: center;
}
.messenger__items a {
  margin-right: 3em;
}
.messenger__items a:hover {
  transform: scale(1.2);
}
.contact-us a {
  color: #888888;
}
.contact-us a:hover {
  color: #fdc312;
}

@media (max-width: 767px) {
  .logo {
    text-align: center;
  }
  .footer-social {
    text-align: center;
  }
  .contact-us {
    margin-top: 2em;
  }
  .contact-us address {
    text-align: center;
    margin-top: 2em;
  }
}

/*--------------------------------------------------
  breadcrumb-area
-----------------------------------------------*/
.breadcrumb-area {
  background: rgb(6, 109, 171);
  background: -moz-linear-gradient(
    left,
    rgba(6, 109, 171, 1) 0%,
    rgba(138, 187, 215, 1) 69%,
    rgba(197, 222, 234, 1) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(6, 109, 171, 1) 0%,
    rgba(138, 187, 215, 1) 69%,
    rgba(197, 222, 234, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(6, 109, 171, 1) 0%,
    rgba(138, 187, 215, 1) 69%,
    rgba(197, 222, 234, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#066dab', endColorstr='#c5deea',GradientType=1 );
}

.page-title h2 {
  color: #ffffff;
  font-size: 1.786rem;
  line-height: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1em 0 0.3em 0;
}

.breadcrumb {
  background: transparent;
  padding: 0;
}

.breadcrumb a,
.breadcrumb > .active {
  color: #ffffff;
}

@media (max-width: 533px) {
  .page-title h2 {
    text-align: center;
  }
}

/*----------------------------------------------
 company-focus style
--------------------------------------------*/
.company-focus {
  overflow: hidden;
  padding: 5em 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-left: 0;
  border-right: 0;
  
}
.company-vision {
  margin-bottom: 50px;
}

.company-focus__container-img img {
  width: 100%;
}

.company-focus h3 {
  margin-bottom: 1em;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .company-mision {
    margin-bottom: 5em;
  }
}
/*----------------------------------------------
 company-about style
--------------------------------------------*/
.company-about {
  overflow: hidden;
  padding: 5em 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-left: 0;
  border-right: 0;
}

.company-about h3 {
  margin-bottom: 1em;
  text-transform: uppercase;
  text-align: center;
}
.company-about-mision img {
  float: left;
  margin-right: 30px;
}

@media (max-width: 768px) {
  .company-about-mision img {
    float: none;
    width: 100%;
  }
}
/*--------------------------------------------------
  Service style
-------------------------------------------------*/
.residential-plumb {
  overflow: hidden;
  padding: 5em 0;
}

.residential-plumb h2,
.commercial-plumb h2 {
  margin-bottom: 1.5em;
  padding-left: 0.5em;
  text-transform: uppercase;
}

.residential-plumb .service-description p,
.commercial-plumb .service-description p {
  color: #ffffff;
  opacity: 0;
  visibility: hidden;
  margin-bottom: -12em;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.residential-plumb .service-item:hover p,
.commercial-plumb .service-item:hover p {
  opacity: 1;
  visibility: visible;
  margin-bottom: 0;
}

.residential-plumb .service-description,
.commercial-plumb .service-description {
  padding: 5.2em 1.5em 1.5em 1.8em;
  bottom: 1.5em;
}

.service-description h2 {
  visibility: visible;
  opacity: 1;
}

.residential-plumb .service-description a,
.commercial-plumb .service-description a {
  visibility: hidden;
  opacity: 0;
  color: #666666;
  text-transform: uppercase;
  background: #ffffff;
  padding: 0.5em 0.857em;
  font-weight: 600;
  margin-top: 1em;
  display: inline-block;
}

.residential-plumb .service-item:hover .service-description a,
.commercial-plumb .service-item:hover .service-description a {
  opacity: 1;
  visibility: visible;
}

.residential-plumb .service-item:hover .service-description a:hover,
.commercial-plumb .service-item:hover .service-description a:hover {
  background: #3c4461;
  color: #ffffff;
  border-color: #3c4461;
}

.residential-plumb .service-item:hover .service-description,
.commercial-plumb .service-item:hover .service-description {
  border: 2px solid #ffffff;
  overflow: hidden;
  margin: 1.5em;
  opacity: 1;
  visibility: visible;
  bottom: 0;
  padding: 5.2em 0 1.5em 1.8em;
}

.commercial-plumb {
  overflow: hidden;
  padding: 5em 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-left: 0;
  border-right: 0;
}

@media (max-width: 480px) {
  .residential-plumb h2,
  .commercial-plumb h2 {
    font-size: 1.7rem;
  }

  .residential-plumb .service-item:hover .service-description,
  .commercial-plumb .service-item:hover .service-description {
    margin: 0.5em;
    padding: 2.6em 0 0.5em 1em;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .residential-plumb .service-item:hover .service-description,
  .commercial-plumb .service-item:hover .service-description {
    margin: 4.5em;
    padding: 9.6em 2em 2.5em 2em;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .residential-plumb .service-item:hover .service-description,
  .commercial-plumb .service-item:hover .service-description {
    padding: 4.5em 0 1.5em 0.8em;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .residential-plumb .service-item:hover .service-description,
  .commercial-plumb .service-item:hover .service-description {
    margin: 0.5em;
    padding: 1.6em 0 1.5em 1.8em;
  }
}

/*-----------------------------------------------------------
 Single-page style 
---------------------------------------------------------*/
.single-details {
  padding: 5em 0;
  overflow: hidden;
}

@media (max-width: 991px) {
  .single-thumb {
    width: 100%;
    margin-bottom: 4em;
    padding: 0;
  }

  .single-content {
    width: 100%;
  }
}

/*------------------------------------------------------
  Map area
-----------------------------------------------------*/
.map-head {
  padding-top: 5em;
}

.map-area {
  position: relative;
  padding-top: 4.286em;
  padding-bottom: 4.286em;
}

/*------------------------------------------------------
  Contact Us
------------------------------------------------------*/
.head-office {
  margin-bottom: 1.5em;
  border-bottom: 1px solid #e8e8e8;
}

.office-location {
  margin-left: 4em;
}

.head-office h4,
.newyork-office h4 {
  text-transform: uppercase;
  margin-bottom: 1.5em;
}


.form-contact-page {
  padding-bottom: 100px;
}

.elevator-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  border-radius: 10px;
  background-color: rgb(52, 55, 231);
  cursor: pointer;
  outline: none;
  z-index: 1;
  visibility: hidden;
}

.catalog-section {
  transition: all 1s ease;
}
.links__body{
  margin-bottom: 50px;
  min-height: 5em;
  text-align: center;
  box-sizing: border-box;
  padding: 1em;
  background: inherit;
  position: relative;
  overflow: hidden;
 
}

.links__body .links{
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;
}


.links__item a {
  line-height: normal;
  display: inline-block;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  opacity: 0.75;
  padding: 0.5em 1em;
  font-size: calc(13.4px + 6 * (100vw / 1280)) 
  
  
}


.links__item:hover {
  -webkit-animation:text-pop-up-top .5s cubic-bezier(.25,.46,.45,.94) both;
  animation:text-pop-up-top .5s cubic-bezier(.25,.46,.45,.94) both;
  
}
.links__item a.active {
  opacity: 1;
}


.box {
  box-shadow: 3px 10px 20px #756d6d;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  
}

 
.grid__list {
  
  margin: 0 auto;
  padding: 35px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  grid-auto-rows: 275px;
  grid-auto-flow: dense;
  gap: 50px;
  
 
}
.grid__item {
  position: relative;
  display: block;
  background-color: #FEFFFF;
}

.grid__item-description {
  position: absolute;
  top: -40px;
  width: 100%;
  text-align: center;
  color: #000000;
}

.grid__img-container {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  
}
.grid__img-container img{
  width: 100%;
  height: 100%;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.grid__item > h2::first-letter {
  position: absolute;
  display: block;
  
}
.grid__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  position: absolute;
  z-index: 20;
  visibility: hidden;
  text-align: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #27d6d6;
  color: #ffffff;
  
}
.grid__item-title {
  font-family: "Roboto";
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 18px;
  color: #000000;
  line-height: 20px;
  
}
.grid__item-title::first-letter{
  font-family: Silver-Age;
  font-size: 20px;
}
.grid__title-paragraph {
  
  font-size: 14px;
  line-height: 18px;
  color: #030303;
  padding: 10px;
  overflow: hidden;
}
.grid__link {
  min-height: 15px;
  padding: 12px;
  font-size: 14px;
  width: 70%;
  margin-bottom: 5px;
  border-radius: 10px;
  color: #f1f1f2;
  background-color: #1995ad;
  transition: background-color box-shadow transform 0.3s;
}
.grid__link:hover {
  background-color: #003b46;
  box-shadow: 0px 7px 12px -5px rgba(34, 60, 80, 0.6);
  transform: scale(1.05) translateY(-3px);
  transition: background-color box-shadow transform 0.3s;
}

@media (max-width: 768px) {
  .links__item a{
    font-size: calc(7.4px + 6 * (100vw / 1280)) 
  }
  .grid-title {
    top: -38px;
    text-align: center;
    font-size: calc(15px + 24 * (100vw / 1280));
   
  }
}

.fromTop {
  animation: 0.3s forwards fromTop;
}

.fromRight {
  animation: 0.3s forwards fromRight;
}

.fromBottom {
  animation: 0.3s forwards fromBottom;
}

.fromLeft {
  animation: 0.3s forwards fromLeft;
}

.toTop {
  animation: 0.3s forwards toTop;
}

.toRight {
  animation: 0.3s forwards toRight;
}

.toBottom {
  animation: 0.3s forwards toBottom;
}

.toLeft {
  animation: 0.3s forwards toLeft;
}


@-webkit-keyframes text-pop-up-top{0%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:none}100%{-webkit-transform:translateY(-5px);transform:translateY(-5px);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:0 1px 0 #ccc,0 2px 0 #ccc,0 3px 0 #ccc,0 4px 0 #ccc,0 5px 0 #ccc,0 6px 0 #ccc,0 7px 0 #ccc,0 8px 0 #ccc,0 9px 0 #ccc,0 50px 30px rgba(0,0,0,.3)}}@keyframes text-pop-up-top{0%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:none}100%{-webkit-transform:translateY(-5px);transform:translateY(-5px);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;text-shadow:0 1px 0 #ccc,0 2px 0 #ccc,0 3px 0 #ccc,0 4px 0 #ccc,0 5px 0 #ccc,0 6px 0 #ccc,0 7px 0 #ccc,0 8px 0 #ccc,0 9px 0 #ccc,0 50px 30px rgba(0,0,0,.3)}}
@keyframes fromTop {
  0% {
    visibility: hidden;
  }
  1% {
    visibility: visible;
    transform-origin: top center;
    transform: perspective(600px) rotate3d(1, 0, 0, -90deg);
  }
  100% {
    visibility: visible;
    transform-origin: top center;
    transform: perspective(600px) rotate3d(1, 0, 0, 0deg);
  }
}
@keyframes fromRight {
  0% {
    visibility: hidden;
  }
  1% {
    visibility: visible;
    transform-origin: right center;
    transform: perspective(600px) rotate3d(0, 1, 0, -90deg);
  }
  100% {
    visibility: visible;
    transform-origin: right center;
    transform: perspective(600px) rotate3d(0, 1, 0, 0deg);
  }
}
@keyframes fromBottom {
  0% {
    visibility: hidden;
  }
  1% {
    visibility: visible;
    transform-origin: bottom center;
    transform: perspective(600px) rotate3d(1, 0, 0, 90deg);
  }
  100% {
    visibility: visible;
    transform-origin: bottom center;
    transform: perspective(600px) rotate3d(1, 0, 0, 0deg);
  }
}
@keyframes fromLeft {
  0% {
    visibility: hidden;
  }
  1% {
    visibility: visible;
    transform-origin: left center;
    transform: perspective(600px) rotate3d(0, 1, 0, 90deg);
  }
  100% {
    visibility: visible;
    transform-origin: left center;
    transform: perspective(600px) rotate3d(0, 1, 0, 0deg);
  }
}
@keyframes toTop {
  0% {
    visibility: visible;
    transform-origin: top center;
    transform: perspective(600px) rotate3d(1, 0, 0, 0deg);
  }
  99% {
    visibility: visible;
    transform-origin: top center;
    transform: perspective(600px) rotate3d(1, 0, 0, -90deg);
  }
  100% {
    visibility: hidden;
    transform-origin: top center;
    transform: perspective(600px) rotate3d(1, 0, 0, -90deg);
  }
}
@keyframes toRight {
  0% {
    visibility: visible;
    transform-origin: right center;
    transform: perspective(600px) rotate3d(0, 1, 0, 0deg);
  }
  99% {
    visibility: visible;
    transform-origin: right center;
    transform: perspective(600px) rotate3d(0, 1, 0, -90deg);
  }
  100% {
    visibility: hidden;
    transform-origin: right center;
    transform: perspective(600px) rotate3d(0, 1, 0, -90deg);
  }
}
@keyframes toBottom {
  0% {
    visibility: hidden;
  }
  1% {
    visibility: visible;
    transform-origin: bottom center;
    transform: perspective(600px) rotate3d(1, 0, 0, 0deg);
  }
  99% {
    visibility: visible;
    transform-origin: bottom center;
    transform: perspective(600px) rotate3d(1, 0, 0, 90deg);
  }
  100% {
    visibility: hidden;
    transform-origin: bottom center;
    transform: perspective(600px) rotate3d(1, 0, 0, 90deg);
  }
}
@keyframes toLeft {
  0% {
    visibility: visible;
    transform-origin: left center;
    transform: perspective(600px) rotate3d(0, 1, 0, 0deg);
  }
  99% {
    visibility: visible;
    transform-origin: left center;
    transform: perspective(600px) rotate3d(0, 1, 0, 90deg);
  }
  100% {
    visibility: hidden;
    transform-origin: left center;
    transform: perspective(600px) rotate3d(0, 1, 0, 90deg);
  }
}