@font-face {
  font-family: "Silver-Age";
  src: url("../fonts/Silver-Age.ttf");
  font-display: swap;
}

/*


Description: HTML5 / CSS3 Multi Page
Version: 1.0
Develop by: Mizrael
*/

/*------------------------------------------------------------------
[Layout]

* body
  + wrapper / #wrapper
    + content-wrapper /
        + container /
          - header
            -header-wrapper
              -header-top
              -main-nav-bar
        + container-fluid
          -banner-section
            -carousel / slide
              -carousel-indicators
              -carousel-inner
        + container /
          -welcome-section
        + container /  
          -service-section
            -tablist
            -tab-content
        + container /
          -service-activity
            -activity-head
            -activity-list-items
              -activity-list
        + quote-section /
          - container 
          - quote
        + container / 
          -our-clients-carousel
            -our-client-thumb
              -item
        + container /
          -footer-top
          -footer

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]


# Background   : #ffffff
# Content      : #888888
# Header h1    : #888888
# Header h2    : #888888
# Footer       : #888888

# a (standard) : #ffffff
# a (visited)  : #fdc312
# a (active)   : #fdc312
-------------------------------------------------------------------*/

/* ==========================================================================
     Base styles: opinionated defaults
========================================================================== */
*:not(td)::first-letter {
  font-family: Silver-Age;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 14px;
  line-height: 1.5em;
}

/*
   * Remove text-shadow in selection highlight: h5bp.com/i
   * These selection rule sets have to be separate.
   * Customize the background color to match your design.
   */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
   * Remove the gap between images, videos, audio and canvas and the bottom of
   * their containers: h5bp.com/i/440
*/

audio,
canvas,
img,
video {
  vertical-align: middle;
}

/*
   * Remove default fieldset styles.
   */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
   * Allow only vertical resizing of textareas.
   */

textarea {
  resize: vertical;
  width: 100%;
  border: 1px solid #e8e8e8;
  padding: 1em 1.5em;
}

p,
ul,
ol,
pre,
blockquote {
  margin-top: 1rem;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

a,
a:active,
a:focus,
a:active {
  text-decoration: none !important;
  outline: none;
}

a {
  color: #fdc312;
  text-decoration: none;
  transition: all 0.2s ease 0s;
}

a:hover,
a:focus {
  color: #fdc312;
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Raleway", sans-serif;
  color: #888888;
  margin: 0;
}

h1 {
  font-weight: 600;
  font-style: inherit;
  font-size: 2.571rem;
  line-height: 1.111em;
}

h2 {
  font-weight: 600;
  font-style: inherit;
  font-size: 2.143rem;
  line-height: 0.7em;
}

h3 {
  font-weight: 600;
  font-style: inherit;
  font-size: 1.714rem;
  line-height: 1.875rem;
}

h4 {
  font-weight: 600;
  font-style: inherit;
  font-size: 1.286rem;
  line-height: 1.875rem;
}

.btn {
  background: #fdc312;
  color: #ffffff;
  text-transform: uppercase;
  padding: 4px 18px;
  margin-top: 20px;
  border-radius: 0;
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn:hover,
.btn-default:hover {
  background: #3c4461;
  color: #ffffff;
  border-color: #3c4461 !important;
}

.btn-default.focus,
.btn-default:focus {
  color: #ffffff;
  background-color: #3c4461;
  border-color: #3c4461 !important;
}

body {
  font-family: "Balsamiq Sans", cursive;
  color: #5c5959;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.857em;
  -webkit-text-size-adjust: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow-x: hidden;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  background: #feffff;
  overflow: hidden;
}

/*----------------------------
 Header section
-----------------------------*/

.header {
  background-color: inherit;
}

.header-top {
  background: #ffffff;
  padding: 0 0 22px 0;
}

.logo img {
  width: 100px;
  height: auto;
}

.header-connection {
  text-align: right;
  line-height: 1.5em;
  padding-top: 20px;
}

.header-connection a strong {
  padding-left: 1em;
}

.header-connection strong {
  color: #55595d;
}

.header-connection a:hover {
  transform: scale(1.2);
}

.social li {
  display: inline-flex;
  padding: 10px 6px;
}
.social li a:hover {
  transform: scale(1.2);
}

.social li:last-child {
  padding-right: 0;
}

.social a {
  color: #a4a4a4;
  font-size: 0.8rem;
}

.header-top p {
  margin: 0;
}

.header__menu-container {
  display: flex;
  justify-content: flex-start;
}

.menu__list > li {
  position: relative;
  margin: 0 0 0 30px;
}
.menu__link {
  color: black;
  font-size: 1.3rem;
}
.menu__link::first-letter {
  font-size: 20px;
}
.menu__link:hover {
  color: rgb(41, 236, 220);
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #feffff;
  padding: 30px;
  min-width: max-content;
  z-index: 100;
}
.menu__sub-list li::first-letter {
  font-size: 20px;
}
.menu__sub-list li {
  font-size: 1.2em;
  padding-top: 5px;
}
.menu__sub-link:hover {
  color: rgb(41, 236, 220);
}
.menu__sub-link li {
  margin: 0 0 10px 0;
}
.menu__sub-link li:last-child {
  margin: 0;
}
.menu__sub-link {
  color: black;
}
.menu__arrow {
  display: none;
}

/*----------------------------*/

body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}
body._pc .menu__link::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  opacity: 0;
  transform: translateX(-50%);
  visibility: hidden;
  transition: all 0.6s ease;
  border-top: 1px solid rgb(41, 236, 220);
}
body._pc .menu__link:hover::before {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}
body._pc .menu__list > li {
  display: flex;
  align-items: center;
}

body._touch .menu__link {
  flex: 1 1 auto;
}
body._touch .menu__arrow-container {
  display: inline-block;
  width: 30px;
  height: 20px;
}
body._touch .menu__arrow-container .menu__arrow {
  display: inline-block;
  margin-left: 5px;
  width: 15px;
  height: 12px;
  background-color: rgb(27, 240, 56);
  clip-path: polygon(51% 31%, 0 100%, 100% 100%);
  transition: transform 0.5s ease 0s;
}
body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 10px);
  pointer-events: all;
}
body._touch .menu__list > li._active .menu__arrow {
  transform: rotateZ(180deg) scale(1.3) perspective(300px);
}

/*-----------------------------*/

.menu__icon-container {
  display: none;
}

@media (max-width: 767px) {
  .header-wrapper {
    padding: 0;
  }

  .header-connection {
    display: flex;
    justify-content: space-around;
    text-align: left;
  }
}
@media (max-width: 608px) {
  .header-connection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .header-connection {
    padding-top: 50px;
  }
}

@media (min-width: 769px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
  .menu__list > li {
    padding: 20px 0;
  }
  .menu__sub-list {
    transform: translate(0, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.5s ease 0s;
  }
}

@media (max-width: 768px) {
  .menu__icon-container {
    display: block;
    top: 0;
    right: 0;
    position: fixed;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 350;
    margin: 20px;
  }

  .menu__icon {
    width: 100%;
    height: 100%;
    background-color: wheat;
    clip-path: polygon(
      100% 100%,
      0 100%,
      0 78%,
      100% 78%,
      100% 61%,
      0 61%,
      0 39%,
      100% 39%,
      100% 23%,
      0% 23%,
      0 0,
      100% 0
    );
    transition: clip-path 0.5s ease;
  }
  .menu__icon._active {
    clip-path: polygon(
      20% 0%,
      0% 20%,
      30% 50%,
      0% 80%,
      20% 100%,
      50% 70%,
      80% 100%,
      100% 80%,
      70% 50%,
      100% 20%,
      80% 0%,
      50% 30%
    );
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgb(233, 233, 219);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
    z-index: 300;
  }
  .menu__body._active {
    left: 0;
  }

  .menu__list > li {
    flex-wrap: wrap;
    margin: 0 0 30px 0;
  }

  .menu__list > li:last-child {
    margin: 0;
  }

  .menu__list > li._active .menu__sub-list {
    display: block;
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__sub-list {
    position: relative;
    background-color: inherit;
    flex: 1 1 100%;
    display: none;
    min-width: min-content;
  }

  .menu__sub-link {
    font-size: 20px;
    color: black;
  }
}

/* Banner section */

.banner-section {
  position: relative;
  background: url("../img/главная.webp") 0 0/100% 100% no-repeat fixed;
  height: 600px;
  margin-bottom: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.banner__btn {
  border-radius: 5px;
  background-color: rgb(41, 236, 220);
}
.item {
  margin-left: 50px;
}

.caption h1 {
  color: #ffffff;
  line-height: 1.2;
  text-transform: uppercase;
}

.caption p {
  color: #ffffff;
}

@media (max-width: 768px) {
  .banner-section {
    display: none;
  }
}

/*---------------------------
Breadcrumb
-------------------------*/

.breadcrumb-area {
  background: rgb(6, 109, 171);
  background: -moz-linear-gradient(
    left,
    rgba(6, 109, 171, 1) 0%,
    rgba(138, 187, 215, 1) 69%,
    rgba(197, 222, 234, 1) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(6, 109, 171, 1) 0%,
    rgba(138, 187, 215, 1) 69%,
    rgba(197, 222, 234, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(6, 109, 171, 1) 0%,
    rgba(138, 187, 215, 1) 69%,
    rgba(197, 222, 234, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#066dab', endColorstr='#c5deea',GradientType=1 );
}

.page-title h2 {
  color: #ffffff;
  font-size: 1.786rem;
  line-height: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1em 0 0.3em 0;
}

.breadcrumb {
  background: transparent;
  padding: 15px 0 0 15px;
  margin-bottom: 1.1em;
}
ul.breadcrumb {
  display: flex;
}

.breadcrumb a {
  color: #fdf9f9;
  font-weight: 400;
}
.breadcrumb a:hover {
  color: #27d6d6;
}

.breadcrumb li.active {
  color: #f7f32f;
  display: flex;
  font-weight: 400;
}

.breadcrumb > li + li:before {
  content: "\27AD";
  padding: 0 5px;
  font-size: 20px;
  color: #fdf9f9;
}
@media (max-width: 768px) {
  .page-title h2 {
    text-align: center;
  }
  ul.breadcrumb {
    font-size: calc(9.4px + 6 * (100vw / 1280));
  }
}

/*modal window*/

#popup.open {
  opacity: 1;
  visibility: visible;
}
#popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

#popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgb(254, 255, 255);
  background: -moz-linear-gradient(top, rgba(254, 255, 255, 1) 35%, rgba(210, 235, 249, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(254, 255, 255, 1) 35%, rgba(210, 235, 249, 1) 100%);
  background: linear-gradient(to bottom, rgba(254, 255, 255, 1) 35%, rgba(210, 235, 249, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 );
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 9999999999;
  transition: all 0.4s ease 0s;
}

.popup__body {
  position: absolute;
  max-width: 45%;
  min-width: 300px;
  border: 1px solid #cecece;
  padding: 35px;

  background: rgb(254, 255, 255);
  background: -moz-linear-gradient(top, rgba(254, 255, 255, 1) 35%, rgba(210, 235, 249, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(254, 255, 255, 1) 35%, rgba(210, 235, 249, 1) 100%);
  background: linear-gradient(to bottom, rgba(254, 255, 255, 1) 35%, rgba(210, 235, 249, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 );
}
.popup__content {
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(50deg);
  transition: all 0.6s ease 0s;
}

a.close__popup {
  color: #000000;
  font-size: 1rem;
  position: absolute;
  right: 10px;
  top: 4px;
  border: none;
}

/*  contact-form    */

form * {
  outline: none;
}

.form__body {
  position: relative;
  overflow-x: visible;
}

.form__body::after {
  content: "";
  position: absolute;
  top: 50%;
  margin: 0 auto;
  color: #2feee1;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}
.form__body._sending::after {
  opacity: 1;
  visibility: visible;
}

h2.form__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #7be2e2;
  line-height: 25px;
  text-align: center;
}
.form__item-title {
  line-height: 20px;
  text-align: center;
}
.form__item-title em {
  color: #1995ad;
}
.form__item label {
  font-size: 1rem;
  margin: 0 0 3px 0;
  color: #000000;
}
.form__item > p {
  margin-top: -1em;
}

.form__input {
  width: 100%;
  line-height: 2.6em;
  padding: 0 1em;
  margin-bottom: 1em;
  border: 1px solid #cac6c6;
  border-radius: 10px;
}

.form__input:focus {
  box-shadow: 0 0 15px #8780e4;
}
.form__input._error {
  box-shadow: 0 0 15px red;
}

textarea.form__input {
  min-height: 100px;
  resize: vertical;
}

.btn[type="submit"] {
  background-color: #4a63ec;
  color: #fcfafa;
  margin-top: 1em;
  line-height: 1em;
  padding: 8px 30px;
  text-transform: uppercase;
  border: 1px solid #c3c5c9;
}

.file__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}
.file__item {
  position: relative;
}
.file__button {
  display: inline-flex;
  width: 30%;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  background-color: #f1cb4d;
  padding: 0 20px;
  color: #000000;
}
.file__preview {
  display: inline-block;
  max-width: 100px;
}
.file__preview img {
  max-width: 100%;
}

.checkbox__input {
  display: none;
}
.checkbox._error .checkbox__label::before {
  box-shadow: 0 0 15px red;
}
.checkbox__input:checked + .checkbox__label::after {
  transform: scale(1);
}
.checkbox label {
  padding-left: 0;
}
.checkbox__label {
  position: relative;
  display: flex;
  font-size: 16px;
  cursor: pointer;
}
.checkbox__label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 24px;
  height: 24px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #32fd6f;
  margin: 0 10px 0 0;
}
.checkbox__label::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #27272c;
  border-radius: 4px;
  transform: scale(0);
  transition: all 0.5s ease 0s;
}

@media (max-width: 767px) {
  .office-location {
    margin: 3em 0 0;
  }

  .head-office {
    border-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  #formName,
  #formEmail {
    width: 100%;
    margin: 0 0 2.2em 0;
  }
}
/* contact pages form */

/*--------------------------------------------
  Welcome section style
--------------------------------------------*/
.welcome-section {
  padding: 5em 0;
  overflow: hidden;
}

.welcome-thumb {
  float: left;
  width: 36%;
  padding-right: 50px;
}
.welcome-thumb img {
  max-width: 360px;
  height: 240px;
}

.welcome-content {
  float: left;
  width: 64%;
}

@media (max-width: 767px) {
  .welcome-section {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .welcome-section {
    display: none;
  }
}

/*------------------------------------------------------
  Service activity style
---------------------------------------------------*/
.service-activity {
  padding: 5em 0;
}

.activity-head {
  padding: 0 20em;
  text-align: center;
}

.activity-head h2 {
  line-height: 1.5em;
  font-weight: 400;
  color: #888888;
}

.activity-head h2 span {
  color: #fdc312;
  text-transform: uppercase;
}

.activity-list-items {
  padding: 5em 0;
  overflow: hidden;
}

.activity-list {
  overflow: hidden;
}

.activity-icon {
  float: left;
  width: 17%;
  padding-right: 1.5em;
  text-align: center;
}

.activity-icon i {
  background: #fdc312;
  padding: 0.52em;
  font-size: 1.5rem;
  color: #ffffff;
}

.activity-details {
  float: right;
  width: 83%;
}

.activity-details h4 {
  color: #333333;
  font-size: 1rem;
}

@media (max-width: 767px) {
  .service-activity {
    padding: 0;
  }

  .activity-head {
    padding: 0;
  }

  .activity-head h2 {
    font-size: 1.5em;
  }

  .activity-list {
    margin-bottom: 2em;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .activity-head {
    padding: 0 6em;
  }

  .activity-icon {
    width: 20%;
  }

  .activity-details {
    width: 80%;
  }
}

/*------------------------------------------------
  Section-quote style
---------------------------------------------*/

.quote-section {
  background: url(../img/консультация_главная.webp) 50% 50% / cover no-repeat fixed;
  min-height: 400px;
  opacity: 0.5;
}

.quote {
  padding: 7em 20em;
  text-align: center;
}
.quote a {
  color: #000000;
  background-color: #dcf0fb;
}

.quote h2 {
  color: #030303;
  line-height: 2em;
}

.quote p {
  color: #0a0909;
}

.quote a {
  font-size: 1.2rem;
  line-height: 2.5em;
  padding: 4px 2.5em;
}

@media (max-width: 767px) {
  .quote-section {
    background: none;
  }
  .quote {
    background: url(../img/консультация_главная.webp) 50% 50% / cover fixed;

    padding: 5em 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .quote {
    padding: 5em 10em;
  }
}

/*  tab-catalog-end   */

/*------------------------------------------------
 footer style
-----------------------------------------------*/
.footer {
  margin-top: 4.5em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.messenger__items {
  display: flex;
  justify-content: space-between;
}
.messenger__items a:hover {
  transform: scale(1.2);
}
.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5em;
}
.contact-us a {
  color: #888888;
}
.contact-us a:hover {
  color: #fdc312;
}
.footer-social {
  width: 100%;
  text-align: center;
  margin-top: 4em;
}
.map {
  width: 360px;
  height: 275px;
  background: url("../img/utilities/карта.webp") 0 0 / contain no-repeat;
}

@media (max-width: 400px) {
  .footer {
    margin-top: 0;
  }
  .map {
    width: 315px;
  }
}

/*----------------------------------------------
 service
--------------------------------------------*/
.company-focus {
  overflow: hidden;
  padding: 5em 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-left: 0;
  border-right: 0;
}
.company-vision {
  margin-bottom: 50px;
}

.company-focus__container-img img {
  width: 100%;
}

.company-focus h3 {
  margin-bottom: 1em;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .company-mision {
    margin-bottom: 5em;
  }
}
/*----------------------------------------------
 company-about style
--------------------------------------------*/
.company-about {
  padding: 5em 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-left: 0;
  border-right: 0;
}

.company-about h3 {
  margin-bottom: 1em;
  text-transform: uppercase;
  text-align: center;
}
.company-about-mision img {
  float: left;
  margin-right: 30px;
}

@media (max-width: 768px) {
  .company-about-mision img {
    float: none;
    width: 100%;
  }
}

/*------------------------------------------------------
  Map area
-----------------------------------------------------*/
.map-head {
  padding-top: 5em;
}

.map-area {
  position: relative;
  padding-top: 4.286em;
  padding-bottom: 4.286em;
}

/*------------------------------------------------------
  Contact Us
------------------------------------------------------*/
.head-office {
  margin-left: 4em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #e8e8e8;
}

.head-office h4 {
  text-transform: uppercase;
  margin-bottom: 1.5em;
}

.form-contact-page {
  padding-bottom: 100px;
}

/*  catalog tabs   */

.tabs {
  transition: all 1s ease;
}

.links__body {
  margin-bottom: 50px;
  min-height: 5em;
  text-align: center;
  box-sizing: border-box;
  padding: 1em;
  background: inherit;
  position: relative;
  overflow: hidden;
}

.links__body .links {
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;
}

.links__item {
  line-height: normal;
  display: inline-block;
  text-transform: uppercase;
  color: black;
  cursor: pointer;
  text-decoration: none;
  opacity: 0.75;
  padding: 0.5em 1em;
  font-size: calc(13.4px + 6 * (100vw / 1280));
}

.links__item:hover {
  animation: text-pop-up-top 0.5s linear both;
}

.box {
  box-shadow: 3px 10px 20px #756d6d;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.tab-content {
  animation: tabsVisible 2s ease forwards;
  display: none;
  opacity: 0;
}
.tab__content_active {
  opacity: 1;
  display: block;
}

.grid__list {
  margin: 0 auto;
  padding: 35px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  grid-auto-rows: 275px;
  grid-auto-flow: dense;
  gap: 50px;
}
.grid__item {
  position: relative;
  display: block;
  background-color: #feffff;
}

.grid__item-description {
  position: absolute;
  top: -40px;
  width: 100%;
  text-align: center;
  color: #000000;
}

.grid__img-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.grid__img-container img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.grid__item > h2::first-letter {
  position: absolute;
  display: block;
}
.grid__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  position: absolute;
  z-index: 20;
  visibility: hidden;
  text-align: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #27d6d6;
  color: #ffffff;
}
.grid__item-title {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 18px;
  color: #000000;
  line-height: 20px;
}
.grid__item-title::first-letter {
  font-size: 20px;
}
.grid__title-paragraph {
  font-size: 14px;
  line-height: 18px;
  color: #030303;
  padding: 10px;
  overflow: hidden;
}
.grid__link {
  min-height: 15px;
  padding: 12px;
  font-size: 14px;
  width: 70%;
  margin-bottom: 5px;
  border-radius: 10px;
  color: #f1f1f2;
  background-color: #1995ad;
  transition: background-color, box-shadow, transform 0.3s;
}
.grid__link:hover {
  background-color: #003b46;
  box-shadow: 0 7px 12px -5px rgba(34, 60, 80, 0.6);
  transform: scale(1.05) translateY(-3px);
  transition: background-color, box-shadow, transform 0.3s;
}

@media (max-width: 768px) {
  .links__item {
    font-size: calc(7.4px + 6 * (100vw / 1280));
  }
  .grid-title {
    top: -38px;
    text-align: center;
    font-size: calc(15px + 24 * (100vw / 1280));
  }
}
@media (max-width: 768px) {
  .tabs {
    margin-top: 50px;
  }
}
/* Functional button  */

.call-me {
  position: fixed;
  bottom: 5%;
  left: 0;
  padding-left: 40px;
  transition: all 0.4s ease-in 0s;
  visibility: hidden;
}
.call-me:hover {
  transform: scale(1.2);
}
.arrow-top {
  visibility: hidden;
  transition: all 0.4s ease-in 0s;
  position: fixed;
  bottom: 40px;
  right: 0;
  padding-right: 40px;
  font-size: 50px;
  color: #27d6d6;
}

.arrow-top:hover {
  transform: scale(1.2);
}

/* Class from animation card */

.fromTop {
  animation: 0.3s forwards fromTop;
}

.fromRight {
  animation: 0.3s forwards fromRight;
}

.fromBottom {
  animation: 0.3s forwards fromBottom;
}

.fromLeft {
  animation: 0.3s forwards fromLeft;
}

.toTop {
  animation: 0.3s forwards toTop;
}

.toRight {
  animation: 0.3s forwards toRight;
}

.toBottom {
  animation: 0.3s forwards toBottom;
}

.toLeft {
  animation: 0.3s forwards toLeft;
}
.text-pop-up-top {
  animation: text-pop-up-top 0.5s linear both;
}

/* Animation section */
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em,
      -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em,
      -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes tabsVisible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translate(0, 15px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 1;
    transform: translate(0, 0px);
  }

  100% {
    opacity: 0;
    transform: translate(0, 15px);
  }
}

@keyframes text-pop-up-top {
  0% {
    transform: translateY(0);
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    transform: translateY(-10px);
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc,
      0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

@keyframes open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fromTop {
  0% {
    visibility: hidden;
  }
  1% {
    visibility: visible;
    transform-origin: top center;
    transform: perspective(600px) rotate3d(1, 0, 0, -90deg);
  }
  100% {
    visibility: visible;
    transform-origin: top center;
    transform: perspective(600px) rotate3d(1, 0, 0, 0deg);
  }
}
@keyframes fromRight {
  0% {
    visibility: hidden;
  }
  1% {
    visibility: visible;
    transform-origin: right center;
    transform: perspective(600px) rotate3d(0, 1, 0, -90deg);
  }
  100% {
    visibility: visible;
    transform-origin: right center;
    transform: perspective(600px) rotate3d(0, 1, 0, 0deg);
  }
}
@keyframes fromBottom {
  0% {
    visibility: hidden;
  }
  1% {
    visibility: visible;
    transform-origin: bottom center;
    transform: perspective(600px) rotate3d(1, 0, 0, 90deg);
  }
  100% {
    visibility: visible;
    transform-origin: bottom center;
    transform: perspective(600px) rotate3d(1, 0, 0, 0deg);
  }
}
@keyframes fromLeft {
  0% {
    visibility: hidden;
  }
  1% {
    visibility: visible;
    transform-origin: left center;
    transform: perspective(600px) rotate3d(0, 1, 0, 90deg);
  }
  100% {
    visibility: visible;
    transform-origin: left center;
    transform: perspective(600px) rotate3d(0, 1, 0, 0deg);
  }
}
@keyframes toTop {
  0% {
    visibility: visible;
    transform-origin: top center;
    transform: perspective(600px) rotate3d(1, 0, 0, 0deg);
  }
  99% {
    visibility: visible;
    transform-origin: top center;
    transform: perspective(600px) rotate3d(1, 0, 0, -90deg);
  }
  100% {
    visibility: hidden;
    transform-origin: top center;
    transform: perspective(600px) rotate3d(1, 0, 0, -90deg);
  }
}
@keyframes toRight {
  0% {
    visibility: visible;
    transform-origin: right center;
    transform: perspective(600px) rotate3d(0, 1, 0, 0deg);
  }
  99% {
    visibility: visible;
    transform-origin: right center;
    transform: perspective(600px) rotate3d(0, 1, 0, -90deg);
  }
  100% {
    visibility: hidden;
    transform-origin: right center;
    transform: perspective(600px) rotate3d(0, 1, 0, -90deg);
  }
}
@keyframes toBottom {
  0% {
    visibility: hidden;
  }
  1% {
    visibility: visible;
    transform-origin: bottom center;
    transform: perspective(600px) rotate3d(1, 0, 0, 0deg);
  }
  99% {
    visibility: visible;
    transform-origin: bottom center;
    transform: perspective(600px) rotate3d(1, 0, 0, 90deg);
  }
  100% {
    visibility: hidden;
    transform-origin: bottom center;
    transform: perspective(600px) rotate3d(1, 0, 0, 90deg);
  }
}
@keyframes toLeft {
  0% {
    visibility: visible;
    transform-origin: left center;
    transform: perspective(600px) rotate3d(0, 1, 0, 0deg);
  }
  99% {
    visibility: visible;
    transform-origin: left center;
    transform: perspective(600px) rotate3d(0, 1, 0, 90deg);
  }
  100% {
    visibility: hidden;
    transform-origin: left center;
    transform: perspective(600px) rotate3d(0, 1, 0, 90deg);
  }
}
